<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>249270884611-gkob99dq8dmq7lc465fla7ua5ck9ut4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249270884611-gkob99dq8dmq7lc465fla7ua5ck9ut4n</string>
	<key>API_KEY</key>
	<string>AIzaSyCjr5wzAgESxpFHAkwPa6nyKh-Ml2qFmOE</string>
	<key>GCM_SENDER_ID</key>
	<string>249270884611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mapro.FindIt-xcode-8-3</string>
	<key>PROJECT_ID</key>
	<string>findit-2f6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>findit-2f6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249270884611:ios:dc6cc54bf42d093f</string>
	<key>DATABASE_URL</key>
	<string>https://findit-2f6eb.firebaseio.com</string>
</dict>
</plist>